html {
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  background-image: url("media/hulki-okan-tabak-x3kQTL7yw30-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  height: 89.6vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 50px dashed #b39fc5;
  /* border: 60px solid #111111; */
  /* background-color: rgba(27, 27, 27, 0.8); */
  background-color: rgba(26, 16, 32, 0.856);
}

.br {
  border-radius: 5px;
}

.btn-br {
  border-radius: 10px
}

h1 {
  margin-bottom: 5px;
}

.text-title {
  font-family: "Space Mono", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  color: #b39fc5;
  /* border: 6px ridge #d6d6d6; */
  padding: 20px;
}

.text-subtitle {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-family: sans-serif;
}

.text-body {
  font-family: "Space Mono", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 20px;
}

.text-large {
  font-size: 1.6rem;
}

.margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  width: auto;
  text-align: center;
  
}

.center {
  grid-area: center;
}

a {
  text-decoration: none;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.social {
  cursor: pointer;
  width: 35px;
  padding: 10px;
  margin: 0 15px;
  transition: transform 0.2s ease-in-out;
}

.social:hover {
  transform: rotate(10deg);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
}

.wave2 {
  animation-name: wave-animation;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
}

.wave3 {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
